@media only screen and (min-width: 768px) {
    /* For desktop: */
    
#navbar header {
    font-size: 1.75em;
}
#navbar {
    float: left;
    width: 14em;
    border: 1px solid black;
}

#main-doc {
    margin-left: 15em;   
    
}


  }