#header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

#navText{
  float: right;
  margin-right: 10em;
}

#header-img{
  margin-left: 5em;
}

#benefits{
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 80%;
}

.benefitList{
  padding: 3em;
  border: 1px solid black;
}

#video {
  display:block;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}
