body {
  background-color: 	#ffffcc;
}
#title {
  text-align: center;
}
#formBody {
  width: 65%;
  margin: auto;
  background-color: #d9ffcc;
  border-radius: 5px;
  padding-left: 1em;
  padding-top: 0.1em;
  padding-bottom: 0.25em;
}

.descriptionText {
  text-align: left;
}
