body {
  background-color: #d9d9d9;
}
#main {
  margin: auto;
  width: 90%;
}
#title {
  text-align: center;
}
#img-div{
  text-align: center;
  background-color: #cccccc;
}
#image {
  display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
    width: 100%;
}
